<style>
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
</style>

/* p {
    color: red;
} */

img  {
padding: 20px;
margin: 20px;
border: 20px;

}
h4 {
    padding: 20px;
    margin: 20px;
    border: 20px;

}


.edu-au-vic-wa-nt-arrows {
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: <500 px>;
  font-style: normal;
}

.edu-au-vic-wa-nt-arrows{
    margin: 20;
    padding: 20;
    display: flex;
    justify-content: left;
    align-items: center;
}

.home {
    margin: 20;
    padding: 20;
    display: flex;
    justify-content: right;
    align-items: center;
}

}
.flex {
    display: flex;
    flex-direction: column;
    margin: 10;
    padding: 20;
    background-color: blue;
    }

.flex> div  {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
    /* display: flex;
    flex-direction: column;
    margin: 10;
    padding: 20;
    background-color: blue;
} */